.container-wrapper {
  position: absolute;
  top: 30%;
}
.div-container-body {
	margin: 32px auto;
  padding: 32px;
	background-color: white;
  border-radius: 5px;
  box-shadow: 1px 5px 10px 1px rgba(111, 111, 111, 0.3);
}
@media (max-width: 767px) {
  .section-sizing {
      height: 308px;
      min-width: 375px;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
}
@media(min-width: 768px) {
.section-sizing {
   min-height: 600px;
   width: 100%;
   padding-left: 0;
   padding-right: 0;
 }
}
